CSS Reset File
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /* MAIN CSS */
:root {
  --primary-color: #000;
  --background-color: hsl(241, 81%, 54%);
  --secondary-color: hsl(241, 100%, 89%);
  --button-color: hsl(224, 30%, 27%);
  --background-gradient-color: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  --secondary-background-gradient: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --secondary-font-color: #fff;
}

main {
  display: grid;
  min-height: 100vh;
  color: var(--primary-color);
  font-size: 1.125rem;
}

.white {
  color: #fff;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--secondary-background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results {
   text-align: center;
   background: var(--background-gradient-color);
   color: var(--secondary-color);
   padding: 2em;
   display: grid;
   gap: 1em;
}






