CSS Reset File
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /* MAIN CSS */
  @font-face {
    font-family: 'Hanken';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
    font-weight: 700;
  }
:root {
  --primary-color: #000;
  --background-color: hsl(241, 81%, 54%);
  --secondary-color: hsl(241, 100%, 89%);
  --button-color: hsl(224, 30%, 27%);
  --background-gradient-color: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  --secondary-background-gradient: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --secondary-font-color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  min-height: 100vh;
  color: var(--primary-color);
  font-size: 1.125rem;
  font-family: 'Hanken';
}

.white {
  color: #fff;
}

.lavender {
  color: var(--secondary-color)
}

.large-font {
  font-size: 3.5rem;
  line-height: 60px;
}

.medium-font {
  font-size: 1.4rem;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--secondary-background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.results {
   text-align: center;
   background: var(--background-gradient-color);
   color: var(--secondary-color);
   padding: 1em;
   border-bottom-left-radius: 1.5em;
   border-bottom-right-radius: 1.5em;
   display: flex;
   flex-direction: column;
   gap: 2em;
   justify-content: center;
}

.results__description {
  font-size: .9rem;
  padding: 0 4em;
}

.summary {
  display:flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 20px;
}

.summary__list {
  display: grid;
  gap: 20px;
  padding-left: 0;
  font-size: 1rem;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-radius: 10px;
}

.red{
  background-color:hsla(0, 100%, 67%, 0.1);
  color: hsla(0, 100%, 67%);
}

.yellow {
  background-color:hsl(39, 100%, 56%, .1);
  color:hsl(39, 100%, 56%);
}

.green {
  background-color:hsl(166, 100%, 37%, .1);
  color:hsl(166, 100%, 37%);
}

.blue {
  background-color: hsl(234, 85%, 45%, .1);
  color: hsl(234, 85%, 45%);
}

.black {
  color:#000;
}

.grey {
  color:#00000048;
}

button {
  background-color: var(--button-color);
  color: #fff;
  padding: 1em 0;
  border-radius: 40px;
  border: none;
}

button:hover {
  background: var(--background-gradient-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  box-shadow: 5px 10px 10px hsla(241, 81%, 54%, 0.064);
  min-height: 30vh;
  max-width: 90vh;
  }

  .results {
    border-radius: 30px;
  }

  .summary {
    border-radius: 30px;
  }
}